#home {
	margin: 0px auto;
	max-width: 600px;	
	
	height: 100%;
}

main {
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	margin-left: 0px;
}

/* #009ab2 */
.post {
	width: calc(100% - 20px);
	border: 2px solid #F5F5F5;
	border-radius: 5px;	
	background-color: #F5F5F5;
	padding: 5px;
	margin-bottom: 50px;
}

.post > article {
	padding-left: 20px;
}

.postinfo {
	border-top: 1px solid #009ab2;
	width: calc(100% - 10px);
	margin-left: -5px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-top: 15px;
}

.postheader {
	margin-top: -5px;
	margin-bottom: 20px;
}

.postheader  > *{
	display: inline-block;
	font-size: 13px;
}

.postheader img {
	margin: 0px;
}

h5 {
	font-size: 15px;
	margin-bottom: 0px;
}