nav ul {
	background-color: grey;
}

nav ul li a {
	color: white;
}

nav ul li:hover {
	border-color: #009ab2;
	background-color: #F5F5F5;
}

nav ul li:hover a{
	color: #009ab2;
}

#login {
	background-color: #F5F5F5;
}

#login input[type=text], #login input[type=password] {
	border: 1px solid #009ab2;
}

#login input[type=submit], #login input[type=reset], #regbutton {
	color: white;
	background-color: grey;
}

#login input[type=submit]:hover, #login input[type=reset]:hover, #regbutton:hover {
	color: #009ab2;
	background-color: #F5F5F5;
	border: 2px solid #009ab2;
}