* {
	font-family: Josefin Sans;
}

html, body {
	height: 100%;
	overflow: hidden;
}

/* main viewport */
/* Verwendung des Flexlayout, Zentrierung sowie Minimalabstände definiert */
main {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	margin-top: 32px;
	margin-left: 5%;
	margin-right: 5%; 
	height: calc(100% - 128px);
}

/* Standartmäßig (Kleines Display, werden die Elemente untereinander angezeigt) */
main > * {
	flex: 1 100%;
}

/* Der Inhalt soll 75% der verfügbaren Breite (ohne Rand) verwenden */
section {
	text-align: left;
	width: 75%;
}



/* Seitenleiste bekommt den Rest zugeteilt */
aside {
	width: 25%;
}

nav {
	height: 30px;
}

/* navigation */
/* Darstellung als Liste, Einschübe entfernt, Listenpunkte entfernt */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

/* Darstellung eines Elements */
nav ul li {
	display: block;
	color: white;
	text-align: center;
	margin: 5px;
	padding: 9px 11px;
	min-width: 50px;
	width: 5%;
}

/* Rahmen um ein Element bei Überfahren mit der Maus */
nav ul li:hover {
	border: 2px solid blue;
	border-radius: 5px;
	padding: 7px 9px;
	cursor: pointer;
}

/* Element wird links angeordnet */
nav ul li.left {
	float: left;
	margin-left: 0px;
}

/* Element wird rechts angeordnet */
nav ul li.right {
	float: right;
	margin-right: 0px;
}

/* Unterstreichung von Links entfernen */
nav ul li a {
	text-decoration: none;
}

/* footer */
footer {
	position: absolute;
	bottom: 20px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	border: 5px solid gray;
	border-radius: 5px;
	background-color: gray;
	color: white;
}

footer a {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

/* Main - Login Box */
#login {
	margin-top: 50%;
	margin-bottom: 50%;
	background-color: orange;
	border-radius: 10px;
	padding: 5px;
}

#login input {
	display: block;
	width: 90%;
	margin-top: 5px;
	margin-bottom: 5px;
}


#login input[type=submit], #login input[type=reset] {
	float: right;
	margin: 0 5px 10px 5px;
	text-align: center;
	width: 40%;
	height: 3em;
	border-radius: 4px;
}

#login input[type=submit]:hover {
	border: 2px solid orange;
	border-radius: 4px;
}

#login input[type=reset] {
	float: left;
	text-align: center;
	width: 45%;
	height: 3em;
}

#login h3 {
	border-bottom: 1px solid #009ab2;
	width: calc(100% + 5px);
	margin: 10px 0px 10px -5px;
	padding-left: 5px;
}

input[type=submit], input[type=reset] {
	background-color: green;
	border: none;
	margin-bottom: 0px;
}

input[type=text], input[type=password] {
	border-radius: 5px;
	border: none;
	font-size: 18px;
	-height: 2em;
	margin-left: 5px;
	padding: 5px;
}

.left {
	margin-left: 5px;
	float: left;
}

.right{
	float: right;
	margin-right: 5px;
}

#regbutton {
	float: left;
	margin: 0 10px 0px 10px;
	width: calc(40% - 4px);
	height: calc(3em - 6px);
	line-height: calc(3em - 6px);
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	text-decoration: none;
	border: 2px solid gray;
}

/* medium */
/* Ab mittlerer Gerätegröße werden die beiden Felder neben und nicht untereinander angezeigt */
@media all and (min-width: 768px) {
	section {
		flex: 1 auto;
	}
	aside {
		flex: 5 0px;
		order: 2;
	}
}

/* large */
/* Bei großen Displays vergrößern wir den Rand */
@media all and (min-width: 900px) {
	main {
		margin-left: 20%;
		margin-right: 20%;
		width: 60%;
	}
}