/* main viewport */
main {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	position: center;
	margin-left: 5%;
	margin-right: 5%; 
	
}

main > * {
	flex: 1 100%;
}

section {
	text-align: left;
	width: 75%;
}

aside {
	width: 25%;
}

/* navigation */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

nav ul li .left {
	float: left;
}

nav ul li .right {
	float: right;
}

nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* small */
@media all and (min-width: 768px) {
	section {
		flex: 1 auto;
	}
	aside {
		flex: 5 0px;
		order: 2;
	}
}

/* medium */
@media all and (min-width: 900px) {
	main {
		margin-left: 20%;
		margin-right: 20%;
	}
}
